<div class="pxh-card">
  <header class="u-mb flex flex--middle flex--justify">
    <h3 class="caps u-mv0" id="headertext">
      <i class="fa-dashboard fa u-mr--" id="headericon"></i>Service Data
    </h3>
    <button class="btn btn--bare">
      <i class="fa fa-chevron-down"></i>
    </button>
  </header>
  <section class="content">
    <p>These gauges are dynamically populated</p>
    <div ng-repeat="temp in vm.data.temps">
      <gauge-linear value="{{temp}}" labels="{{temp}}" width="350" thresholds='{"h":80,"hh":90}'></gauge-linear>
    </div>
  </section>
</div>

<div class="pxh-card">
  <header class="u-mb flex flex--middle flex--justify">
    <h3 class="caps u-mv0" id="headertext">
      <i class="fa-bar-chart fa u-mr--" id="headericon"></i>Realtime Chart
    </h3>
    <button class="btn btn--bare">
      <i class="fa fa-chevron-down"></i>
    </button>
  </header>
  <section class="content">
    <p>This chart is showing the history of a random walk from 0-100, with thresholds at 60 and 80.</p>
    <div style="overflow-x: hidden">
      <chart-column
        data="{{vm.dynamic0}}"
        thresholds="{{vm.dynamicThresholds}}"
        height="100"
        width="600"
        show-x-axis="true"
      ></chart-column>
    </div>
  </section>
</div>

<div class="pxh-card">
  <header class="u-mb flex flex--middle flex--justify">
    <h3 class="caps u-mv0" id="headertext">
      <i class="fa-bar-chart fa u-mr--" id="headericon"></i>Modal</h3>
    <button class="btn btn--bare">
      <!-- <i class="fa fa-chevron-down chevron"></i> -->
    </button>
  </header>
  <section class="content">
    <p>Hey, let's open a modal!</p>

    <px-modal
      id="mymodal"
      btn-modal-positive="Continue"
      btn-modal-negative="Back"
      modal-heading="Sign-in required">
      <button class="btn btn--primary modal-trigger">Open Modal</button>
      <p>
        <b>Please sign-in to access this part of the application.</b>
      </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
        culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </px-modal>

  </section>
</div>

<div class="pxh-card">
  <header class="u-mb flex flex--middle flex--justify">
    <h3 class="caps u-mv0" id="headertext">
      <i class="fa-link fa u-mr--" id="headericon"></i>
      Link
    </h3>
  </header>
  <section class="content">
    <p><a id="aNavAnalytics" ng-class="{'link--unavailable': vm.analyticsUnavailable}" href="{{vm.analyticsUrl}}">Navigate to analytics microapp</a></p>
    <p><a id="aNavAnalyticsChromeless" ng-class="{'link--unavailable': vm.analyticsUnavailable}" href="{{vm.chromelessAnalyticsUrl}}" target="_blank">Open analytics app in new Chromeless window</a>
        <p>
            For Chromeless, the url should be appeneded with <span class="span-code">/?chromeless=true</span>.
            <br/>
            For e.g. <span class="span-code">apphubService.getPath(APPID_ANALYTICS) + "/?chromeless=true"</span>
            Make sure that <span class="span-code">/#/</span> is appended <i>after</i> the chromeless parameter.
        </p>
    </p>
      <p><a id="aNavBugus" ng-class="{'link--unavailable': vm.bogusUnavailable}" href="{{vm.bogusUrl}}">Navigate to bogus microapp</a></p>
  </section>
</div>
